body {
    font-family: Arial, sans-serif;
    background-color: #f3e5f5; /* Màu nền tím nhạt */
    color: #333;
    padding: 20px;
}

h1 {
    color: #8e44ad; /* Màu tím đậm */
}

fieldset {
    border-color: #9b59b6; /* Màu tím */
    margin-bottom: 20px;
}

legend {
    color: #8e44ad; /* Màu tím đậm */
}

button {
    background-color: #9b59b6; /* Màu tím */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #8e44ad; /* Màu tím đậm hơn */
}
